.header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: goldenrod;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 2.5rem;
}

.italic{
    font-style: oblique;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
    font-size: 17px;
    height: 80px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    gap: 30px;
    color: white;
    text-decoration: none;
    border: none;
}

.nav-items a{
    color: white;
    text-decoration: none;
}

.header button{
    background-color: black;
    color: goldenrod;
    padding: 10px 20px;
    font-size: 16px;
    border-style: solid;
    border-color: goldenrod;
}

.theme{
    display: flex;
    flex-direction: column;
    color: white;
}

#heroimg{
    background-image: url(./img/heroimg.jpg);
    background-size: cover;
    height: 100vh;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-size: 5rem;
}

#btn{
    font-size: 19px;
    background-color: goldenrod;
    height: 50px;
    padding: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    background-color: black;
    color: white;
}

.feature-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

img{
    height: 345px;
    width: 494px;
}